Django==4.2.7
langchain
langchain-community
langchain-ollama
langchain-groq
ollama
click
jinja2
pathlib
python-dotenv
requests
urllib3
typing-extensions
pydantic
pydantic-settings
dataclasses-json
langsmith
anyio
httpx
certifi
httpcore
idna
h11
langchain-text-splitters
jsonpatch
packaging
orjson
requests-toolbelt
zstandard
annotated-types
pydantic-core
charset-normalizer
greenlet
jsonpointer
mypy-extensions
sniffio
Pillow 